.card {
    width: 250px;
    height: 400px;
    background-color: var(--accent);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding:15px;
    overflow: hidden;
    margin: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}